label {
    display: block;
    font-weight: bold;
}

input[type=text],
input[type=password],
input[type=number],
input[type=date] {
    display: inline-block;
    border: none medium #fff;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    background-color: transparent;
    height: 35px;
    transition: all $transition-duration ease;

    &:hover,
    &:focus {
        border-bottom: 1px solid $color-secondary;
    }
}

input[type=number] {
    padding: 5px;
    border: 1px solid #ddd;

    &:hover,
    &:focus {
        border: 1px solid $color-secondary;
    }
}

button,
.btn {
    display: block;
    float: right;
    margin-top: 10px;
    padding: 10px;
    border: none medium #fff;
    border-radius: 3px;
    background-color: $color-secondary;
    cursor: pointer;
    transition: all $transition-duration ease;

    &.critical {
        background-color: $color-critical;
        color: #fff;
    }

    &:hover {
        background-color: $color-tertiary;
        color: #fff;
    }

    &.inline-btn {
        display: inline;
        float: none;
        margin-left: 10px
    }
}

.errorlist { // Django error lists
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: $color-critical;
}

