{% extends "base.html" %}

{% load l10n %}
{% load date_js %}

{% block page_title %}Graphiques de la ruche {{ current.name }}{% endblock %}

{% block title_icon %}line-chart{% endblock %}

{% block title %}Graphiques de la ruche <em>{{ current.name }}</em>{% endblock %}

{% block content %}
    <p class="info">Par défaut, les dates de début et fin sont respectivement hier et aujourd'hui.</p>

    <p><strong>Période sélectionnée :</strong> du {{ from_date|date:'d/m/Y' }} au {{ to_date|date:'d/m/Y' }}</p>


    {% if errors %}
        <ul class="errorlist">
            {% for e in errors %}
                <li>{{ e }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="get" action=".">
        <p>
            Afficher les données du
            <input type="text" name="from" placeholder="JJ-MM-AA" value="{{ arg_from }}">
            au
            <input type="text" name="to" placeholder="JJ-MM-AA" value="{{ arg_to }}">.
            <button class="inline-btn" type="submit">Chercher</button>
        </p>
    </form>


    {% if readerings %}
        <h2 class="not-first">Températures</h2>

        <div id="temperatures_chart"></div>

        <h2>Humidité</h2>

        <div id="humidities_chart"></div>

        <h2>Masse</h2>

        <div id="weight_chart"></div>
    {% else %}
        <p class="error">Cette ruche ne contient aucune donnée sur cette période.</p>
    {% endif %}
{% endblock %}

{% block scripts %}
    {# unlocalize is to replace the comma by a dot of a float number. #}
    {% if readerings %}
        <script>
            var readerings = {
                indoorTemperatures: [
                    {% for r in readerings %}[{{ r.date|date_js }}, {{ r.indoor_temperature|unlocalize }}], {% endfor %}
                ],
                outdoorTemperatures: [
                    {% for r in readerings %}[{{ r.date|date_js }}, {{ r.outdoor_temperature|unlocalize }}], {% endfor %}
                ],
                swarmTemperatures: [
                    {% for r in readerings %}[{{ r.date|date_js }}, {{ r.swarm_temperature|unlocalize }}], {% endfor %}
                ],
                indoorHumidities: [
                    {% for r in readerings %}[{{ r.date|date_js }}, {{ r.indoor_humidity|unlocalize }}], {% endfor %}
                ],
                outdoorHumidities: [
                    {% for r in readerings %}[{{ r.date|date_js }}, {{ r.outdoor_humidity|unlocalize }}], {% endfor %}
                ],
                weight: [
                    {% for r in readerings %}[{{ r.date|date_js }}, {{ r.weight|unlocalize }}], {% endfor %}
                ]
            };
        </script>
    {% endif %}
{% endblock %}
