{% extends "base.html" %}

{% block page_title %}Résumé de la ruche {{ current.name }}{% endblock %}

{% block title_icon %}th{% endblock %}

{% block title %}Résumé de la ruche <em>{{ current.name }}</em>{% endblock %}

{% block content %}
    {% if last_readering %}
        <h2>Dernier relevé, du {{ last_readering.date|date:'d/m/y à H:i' }}</h2>

        <div class="summary">
            <div class="info">
                <span class="info-icon"><i class="fa fa-fire"></i></span>
                <div class="info-content">
                    <span class="info-text">Température extérieure</span>
                    <span class="info-data">{{ last_readering.outdoor_temperature|floatformat }} °C</span>
                </div>
            </div>
           <div class="info">
                <span class="info-icon"><i class="fa fa-fire"></i></span>
                <div class="info-content">
                    <span class="info-text">Température intérieure</span>
                    <span class="info-data">{{ last_readering.indoor_temperature|floatformat }} °C</span>
                </div>
            </div>
            <div class="info">
                <span class="info-icon"><i class="fa fa-fire"></i></span>
                <div class="info-content">
                    <span class="info-text">Température dans l'essaim</span>
                    <span class="info-data">{{ last_readering.swarm_temperature|floatformat }} °C</span>
                </div>
            </div>
            <div class="info">
                <span class="info-icon"><i class="fa fa-tint"></i></span>
                <div class="info-content">
                    <span class="info-text">Humidité extérieure</span>
                    <span class="info-data">{{ last_readering.outdoor_humidity|floatformat }} %</span>
                </div>
            </div>
            <div class="info">
                <span class="info-icon"><i class="fa fa-tint"></i></span>
                <div class="info-content">
                    <span class="info-text">Humidité intérieure</span>
                    <span class="info-data">{{ last_readering.indoor_humidity|floatformat }} %</span>
                </div>
            </div>
            <div class="info">
                <span class="info-icon"><i class="fa fa-balance-scale"></i></span>
                <div class="info-content">
                    <span class="info-text">Masse</span>
                    <span class="info-data">{{ last_readering.weight|floatformat }} kg</span>
                </div>
            </div>
        </div>
    {% else %}
        <h2>Dernier relevé</h2>

        <p class="error">Pas de données.</p>
    {% endif %}

    <h2>Informations</h2>

    <p><strong>Nom :</strong> {{ current.name }}</p>
    <p><strong>Propriétaire :</strong> {{ current.owner.username }}</p>
    <p><strong>Publique ?</strong> {% if current.public %}Oui{% else %}Non{% endif %}</p>
    <p><strong>Identificateur :</strong> {{ current.pk }}</p>
    {% if current.owner == request.user or request.user.is_superuser %}
        <p><strong>Jeton :</strong> <samp class="token">{{ current.token }}</samp><button class="token-btn critical">Afficher</button></p>
    {% endif %}
{% endblock %}
