{% extends "base.html" %}

{% block page_title %}À propos{% endblock %}

{% block title_icon %}question-circle{% endblock %}

{% block title %}À propos{% endblock %}

{% block content %}
    <p>{{ app.description }}</p>

    <p>{{ app.name }} a été réalisé dans le cadre du projet interdisciplinaire de science de l'ingénieur. Nous sommes trois élèves de terminale du lycée Rabelais de Chinon. Ce projet résulte d'une collaboration avec le <a href="http://www.cpie-val-de-loire.org/">CPIE Val de Loire</a> qui nous ont permis de tester en conditions réelles notre dispositif.</p>

    <h2 class="not-first">Technologies utilisées pour le site</h2>

    <div class="col-2">
        <h3 class="col-title">Système &amp; <em>backend</em></h3>

        <ul>
            <li><a href="http://www.python.org/">Python 3.4</a></li>
            <li><a href="https://www.djangoproject.com/">Django 1.9</a></li>
            <li><a href="http://nginx.org/">nginx</a></li>
            <li><a href="https://mariadb.org/">MariaDB</a></li>
        </ul>
    </div>
       <div class="col-2">
        <h3 class="col-title"><em>Frontend</em></h3>

        <ul>
            <li><a href="http://gulpjs.com/">Gulp</a></li>
            <li><a href="http://sass-lang.com/">SASS</a> (SCSS)</li>
            <li><a href="http://necolas.github.io/normalize.css/">Normalize.css</a></li>
            <li><a href="http://jquery.com/">jQuery</a></li>
            <li><a href="http://www.highcharts.com/">Highcharts</a></li>
        </ul>
    </div>

    <p>Le site respecte les standards du W3C. <a href="https://validator.w3.org/nu/?doc=http://{{ app.domain }}">Voir les résultats du validateurs.</a></p>
{% endblock %}
