.page-header {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: $sidebar-width;
    overflow: auto;
    z-index: 1;
    color: $color-text-on-black;
    background-color: $color-primary;

    a {
        color: inherit;
        text-decoration: none;
    }

    ul i.fa {
        width: 22px;
    }

    h2 {
        padding: 13px 10px 5px 10px;
        margin: 0;
        border-bottom: 1px solid $color-text-on-black;
        font-size: 1rem;
        font-weight: 300;
    }
}

.header-logo {
    display: block;
    flex: 0;
    padding-top: 15px;
    color: #fff;
    text-align: center;

    .header-logo-link img {
        margin-right: 10px;
        vertical-align: middle;
    }
}

.header-menu {
    padding-top: 20px;
    flex: 1;
}

.main-nav,
.secondary-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
        display: block;
        color: inherit;
        text-decoration: none;
        transition: all $transition-duration ease;

        > a {
            padding: 10px;
            display: block;
            width: 100%;
            border-left: 2px solid transparent;

            &:hover {
                border-left-color: $color-tertiary;
                background-color: darken($color-primary, 20%);
                color: #fff;
            }

            .visibility {
                margin-left: 10px;
                opacity: .5;
            }
        }
    }

    .has-dropdown::after {
        content: "\f053";
        font-family: "FontAwesome";
        float: right;
        margin-top: .25rem;
        transition: all $transition-duration linear;
    }

    .dropdown {
        max-height: 0;
        overflow: hidden;
        list-style-type: none;
        padding: 0;
        transition: all $transition-duration ease-in-out;

        li {
            padding-top: 6px;
            background-color: lighten($color-primary, 5%);
        }

        a {
            display: block;
            width: 100%;
            padding: 2px 10px;

            &:hover {
                color: #fff;

                i.fa {
                    width: 25px;
                    transition: all $transition-duration ease;
                }
            }
        }

        li:last-child {
            padding-bottom: 6px;
        }
    }

    .active {
        &+ .dropdown {
            max-height: 500px;
        }

        &.has-dropdown::after {
            transform: rotate(-90deg);
        }
    }
}

.about {
    font-size: 11px;
    margin: 0 0 8px 0;
    padding-top: 8px;
    border-top: 1px solid #fff;
    text-align: center;
    font-style: italic;

    a {
        text-decoration: underline;
    }
}

@media only screen and #{$media-mobile} {
    .page-header {
        transform: translateX(-100%);
        transition: $transition-mobile-menu;
    }

    .show-mobile-menu .page-header {
        transform: translateX(0%);
    }
}
