{% load static %}
{% load header %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">

        <title>
            {% block page_title %}{% endblock %}
            &middot;
            {{ app.name }}
        </title>

        <meta name="language" content="fr">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">

        <meta name="description" content="{{ app.description }}">

        <link rel="shortcut icon" type="image/png" href="{% static 'img/logo.png' %}">

        <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,700%7cSource+Code+Pro">
    </head>
    <body>
        <div class="page-container" id="page">
            <header class="page-header">
                <div class="header-logo">
                    <a class="header-logo-link" href="{% url 'home' %}">
                        <img src="{% static 'img/logo.svg' %}" alt="Logo">{{ app.name }}
                    </a>
                </div>
                <nav class="header-menu">
                    <ul class="main-nav">
                        <li><a href="{% url 'home' %}"><i class="fa fa-home"></i>Accueil</a></li>
                        {% with beehives=user|beehives %}
                            {# Personnal beehives. #}
                            <h2>Vos ruches</h2>
                            {% for b in beehives.personnal %}
                                <li>
                                    <a href="#" class="has-dropdown"><i class="fa fa-forumbee"></i>{{ b.name }}<i class="visibility fa fa-{% if b.public %}un{% endif %}lock"></i></a>
                                    <ul class="dropdown">
                                        <li><a href="#"><i class="fa fa-th"></i>Résumé</a></li>
                                        <li><a href="#"><i class="fa fa-table"></i>Données</a></li>
                                        <li><a href="#"><i class="fa fa-line-chart"></i>Graphiques</a></li>
                                        <li><a href="{% url 'modify-beehive' b.pk %}"><i class="fa fa-pencil"></i>Modifier</a></li>
                                        <li><a href="{% url 'delete-beehive' b.pk %}"><i class="fa fa-trash"></i>Supprimer</a></li>
                                    </ul>
                                </li>
                            {% empty %}
                                <li><a href="#">Aucune ruche à vous.</a></li>
                            {% endfor %}

                            {# Public beehives. #}
                            <h2>Autres ruches publques</h2>
                            {% for b in beehives.public %}
                                <li>
                                    <a href="#" class="has-dropdown"><i class="fa fa-forumbee"></i>{{ b.name }}{% if user.is_superuser %}<i class="visibility fa fa-{% if not b.public %}un{% endif %}lock"></i>{% endif %}</a>
                                    <ul class="dropdown">
                                        <li><a href="#"><i class="fa fa-th"></i>Résumé</a></li>
                                        <li><a href="#"><i class="fa fa-table"></i>Données</a></li>
                                        <li><a href="#"><i class="fa fa-line-chart"></i>Graphiques</a></li>
                                        {% if user.is_superuser %}
                                            <li><a href="{% url 'modify-beehive' b.pk %}"><i class="fa fa-pencil"></i>Modifier</a></li>
                                            <li><a href="{% url 'delete-beehive' b.pk %}"><i class="fa fa-trash"></i>Supprimer</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% empty %}
                                <li><a href="#">Aucune ruche publique.</a></li>
                            {% endfor %}
                        {% endwith %}
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'add-beehive' %}"><i class="fa fa-plus"></i>Ajouter une ruche</a></li>
                        {% endif %}
                    </ul>
                </nav>
                <div class="sub-header">
                    {% if user.is_authenticated %}
                        <h2>{{ user.username }}</h2>
                    {% endif %}
                    <ul class="secondary-nav">
                        {% if user.is_authenticated %}
                            <li>
                                <a href="#" class="has-dropdown"><i class="fa fa-gears"></i>Paramètres</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'new-password' %}"><i class="fa fa-key"></i>Mot de passe</a></li>
                                    <li><a href="{% url 'warning-unregister' %}"><i class="fa fa-user-times"></i>Supprimer</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>Déconnexion</a></li>
                        {% else %}
                            <li><a href="{% url 'register-user' %}"><i class="fa fa-user-plus"></i>Créer un compte</a></li>
                            <li><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i>Connexion</a></li>
                        {% endif %}
                        <li><a href="#"><i class="fa fa-question-circle"></i>À propos</a></li>
                    </ul>
                    <p class="about"><a href="{{ app.repository }}">Code source</a> du site.</p>
                </div>
            </header>
            <main>
                <header class="content-header" id="mobile-menu-button">
                    <h1>
                        <i class="fa fa-{% block title_icon %}{% endblock %}"></i>{% block title %}{% endblock %}
                    </h1>
                </header>
                <section class="page-content" id="main-content">
                    {% block content %}{% endblock %}
                </section>
            </main>
        </div>

        <script src="{% static 'js/all.min.js' %}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
