{% extends "base.html" %}

{% block page_title %}Changement de mot de passe{% endblock %}

{% block title_icon %}key{% endblock %}

{% block title %}Changement de mot de passe{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if error %}
             {{ error }}
        {% endif %}

        <form method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Changer</button>
        </form>
    {% else %}
        <p>Vous n'êtes pas connecté.</p>
    {% endif %}
{% endblock %}
